* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather';

}

body{
    width: 100%;
    background-color: #F6F6EA;
}

header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 85px;

}

nav{
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

nav>a{
    font-size: 24px;
    color: #BFA57D;
}

.Diferent{
    color:#895D2D ;
}

.language{
    width: 121px;
    height: 50px;
    color: black;
    background-color: white;
    border: #DEDEDE solid 2px;
}

button{
   width: 170px;
   height: 50px;
   color: #C4C4C4;
   background-color: #895D2D;
   border: #895D2D solid 1px; 
}

.ButtonH{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

section {
    width: 100%;
    height: 554px;
    
}

section > h1 {
    display: flex;
    justify-content: center;
    font-size: 23.84px;
    color: black;
}


/* header concluido */

/* inicio experiencia8*/

.container-expe {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 34.5px;
    font-size: 17px;
}

.container-expe2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 21px;
    font-size: 17px;
    padding-right: 395px;
}

main {
    width: 100%;
    height: 4694px
}


main > img{
    padding-top: 10px;
    width: 100%;
}

h1{
    font-size: 55px;
    color: #895D2D;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.navMain{
    display: flex;
    gap: 55px;
    justify-content: center;
    margin-top: 50px;
}

.brown{
    color: #895D2D;
}

.chandelier{
    width: 570px;
    height: 427px;
    padding-right: 100px;
}

.TheSpaEtiquette1 {
    width:699px ;
    height: 427px;
    color: #3B4248;
    margin-top: 200px;
    background-color:#BFA57D;
    position: absolute;
    z-index: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chandelier2 {
    width: 570.95px;
    height: 426.7px;
    position: relative;
    z-index: 2;
    padding-right: 1100px;
}


.TheSpaEtiquette>h1{
    color: #3B4248;
    font-size: 35px;
}


.container-text {
    padding-left: 350px;
    margin-top: 150px;
    gap: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2 {
    width: 698.48px;
    height: 800px;
    margin-top: 200px;
    background-color: #895D2D;
    color: white;  
}

.chegada {
    padding-top: 140px;
}

.saunas {
    padding-top: 350px;
}

.saunas-text {
    width: 698.48px;
    height: 776px;
}

.nosso {
    padding-top: 480px;
}

.nosso-text {
    width: 698.48px;
    height: 1112px;
    background-color: #895D2D;
    color: white;
}

.nosso-text > p {
    font-size: 16px;

}

footer {
    margin-top: 600px;
    width: 1920px;
    height: 313px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer > p {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    color: #5F2A0E;
}

.containerimg {
    display: flex;
    justify-content: center;
    padding-top: 13px;
    gap: 28px;
}

.fi {
    width: 20.64px;
    height: 20px;
}

.text-footer {
    padding-top: 15.5px;
    display: flex;
    justify-content: center;
    gap: 11.66px;
    color: #895D2D;
}

.name {
    padding-top: 14px;
    display: flex;
    justify-content: center;
    color: #BFA57D;
}
